#help {
  color: #ccc;
  font: 30px sans-serif;
  margin-top: 4em;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 99999;
}

#help1 {
  color: #ccc;
  font: 20px sans-serif;
  margin-top: 7em;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 99999;
}

#wish {
  color: #ccc;
  font: 20px sans-serif;
  bottom: 1.5em;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 99999;
}

#wish1 {
  color: #ccc;
  font: 20px sans-serif;
  bottom: 0.5em;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 99999;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: -126px -55.6666666667px #00fbff, -142px -165.6666666667px #2200ff, -139px -164.6666666667px #ff0033, -106px -175.6666666667px #0055ff, 244px 63.3333333333px #00ff95, 242px 52.3333333333px #00ff26, 202px -42.6666666667px #f2ff00, 39px -188.6666666667px #ff00c4, 118px -340.6666666667px #33ff00, -69px -415.6666666667px #0040ff, 177px -42.6666666667px #7bff00, 27px -93.6666666667px #5900ff, -151px -133.6666666667px #00ff3c, 114px -328.6666666667px #e6ff00, -132px -190.6666666667px #ff00bb, 25px 30.3333333333px #00aaff, 16px -21.6666666667px #00ff3c, 236px -259.6666666667px #0900ff, -93px 82.3333333333px #0088ff, -209px -22.6666666667px #37ff00, -245px -182.6666666667px #ff0044, -9px -347.6666666667px #5eff00, 93px -414.6666666667px #f200ff, -45px -404.6666666667px #ff0095, 197px -151.6666666667px #7b00ff, 150px -138.6666666667px #ff0048, -209px -90.6666666667px #ff0055, 59px -85.6666666667px #00e6ff, 190px 55.3333333333px #00e1ff, -224px -23.6666666667px #fff200, 32px -39.6666666667px #003cff, 237px -375.6666666667px #2600ff, 64px 40.3333333333px #00ff9d, 11px 78.3333333333px #0900ff, -105px -259.6666666667px #3cff00, 239px 41.3333333333px #ff5900, 153px -313.6666666667px blue, 190px -377.6666666667px #0900ff, -9px -307.6666666667px #26ff00, 195px -313.6666666667px #00b3ff, 77px -286.6666666667px #22ff00, 152px -285.6666666667px #ccff00, -11px -119.6666666667px #0066ff, 14px -403.6666666667px #00d0ff, 6px -338.6666666667px #15ff00, -60px -357.6666666667px #ff4400, -227px -157.6666666667px #ff5e00, -216px -236.6666666667px #00ff6f, -203px -204.6666666667px #ff5900, 74px -145.6666666667px #ff0044, 207px -130.6666666667px #00ffee;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: -126px -55.6666666667px #00fbff, -142px -165.6666666667px #2200ff, -139px -164.6666666667px #ff0033, -106px -175.6666666667px #0055ff, 244px 63.3333333333px #00ff95, 242px 52.3333333333px #00ff26, 202px -42.6666666667px #f2ff00, 39px -188.6666666667px #ff00c4, 118px -340.6666666667px #33ff00, -69px -415.6666666667px #0040ff, 177px -42.6666666667px #7bff00, 27px -93.6666666667px #5900ff, -151px -133.6666666667px #00ff3c, 114px -328.6666666667px #e6ff00, -132px -190.6666666667px #ff00bb, 25px 30.3333333333px #00aaff, 16px -21.6666666667px #00ff3c, 236px -259.6666666667px #0900ff, -93px 82.3333333333px #0088ff, -209px -22.6666666667px #37ff00, -245px -182.6666666667px #ff0044, -9px -347.6666666667px #5eff00, 93px -414.6666666667px #f200ff, -45px -404.6666666667px #ff0095, 197px -151.6666666667px #7b00ff, 150px -138.6666666667px #ff0048, -209px -90.6666666667px #ff0055, 59px -85.6666666667px #00e6ff, 190px 55.3333333333px #00e1ff, -224px -23.6666666667px #fff200, 32px -39.6666666667px #003cff, 237px -375.6666666667px #2600ff, 64px 40.3333333333px #00ff9d, 11px 78.3333333333px #0900ff, -105px -259.6666666667px #3cff00, 239px 41.3333333333px #ff5900, 153px -313.6666666667px blue, 190px -377.6666666667px #0900ff, -9px -307.6666666667px #26ff00, 195px -313.6666666667px #00b3ff, 77px -286.6666666667px #22ff00, 152px -285.6666666667px #ccff00, -11px -119.6666666667px #0066ff, 14px -403.6666666667px #00d0ff, 6px -338.6666666667px #15ff00, -60px -357.6666666667px #ff4400, -227px -157.6666666667px #ff5e00, -216px -236.6666666667px #00ff6f, -203px -204.6666666667px #ff5900, 74px -145.6666666667px #ff0044, 207px -130.6666666667px #00ffee;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: -126px -55.6666666667px #00fbff, -142px -165.6666666667px #2200ff, -139px -164.6666666667px #ff0033, -106px -175.6666666667px #0055ff, 244px 63.3333333333px #00ff95, 242px 52.3333333333px #00ff26, 202px -42.6666666667px #f2ff00, 39px -188.6666666667px #ff00c4, 118px -340.6666666667px #33ff00, -69px -415.6666666667px #0040ff, 177px -42.6666666667px #7bff00, 27px -93.6666666667px #5900ff, -151px -133.6666666667px #00ff3c, 114px -328.6666666667px #e6ff00, -132px -190.6666666667px #ff00bb, 25px 30.3333333333px #00aaff, 16px -21.6666666667px #00ff3c, 236px -259.6666666667px #0900ff, -93px 82.3333333333px #0088ff, -209px -22.6666666667px #37ff00, -245px -182.6666666667px #ff0044, -9px -347.6666666667px #5eff00, 93px -414.6666666667px #f200ff, -45px -404.6666666667px #ff0095, 197px -151.6666666667px #7b00ff, 150px -138.6666666667px #ff0048, -209px -90.6666666667px #ff0055, 59px -85.6666666667px #00e6ff, 190px 55.3333333333px #00e1ff, -224px -23.6666666667px #fff200, 32px -39.6666666667px #003cff, 237px -375.6666666667px #2600ff, 64px 40.3333333333px #00ff9d, 11px 78.3333333333px #0900ff, -105px -259.6666666667px #3cff00, 239px 41.3333333333px #ff5900, 153px -313.6666666667px blue, 190px -377.6666666667px #0900ff, -9px -307.6666666667px #26ff00, 195px -313.6666666667px #00b3ff, 77px -286.6666666667px #22ff00, 152px -285.6666666667px #ccff00, -11px -119.6666666667px #0066ff, 14px -403.6666666667px #00d0ff, 6px -338.6666666667px #15ff00, -60px -357.6666666667px #ff4400, -227px -157.6666666667px #ff5e00, -216px -236.6666666667px #00ff6f, -203px -204.6666666667px #ff5900, 74px -145.6666666667px #ff0044, 207px -130.6666666667px #00ffee;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: -126px -55.6666666667px #00fbff, -142px -165.6666666667px #2200ff, -139px -164.6666666667px #ff0033, -106px -175.6666666667px #0055ff, 244px 63.3333333333px #00ff95, 242px 52.3333333333px #00ff26, 202px -42.6666666667px #f2ff00, 39px -188.6666666667px #ff00c4, 118px -340.6666666667px #33ff00, -69px -415.6666666667px #0040ff, 177px -42.6666666667px #7bff00, 27px -93.6666666667px #5900ff, -151px -133.6666666667px #00ff3c, 114px -328.6666666667px #e6ff00, -132px -190.6666666667px #ff00bb, 25px 30.3333333333px #00aaff, 16px -21.6666666667px #00ff3c, 236px -259.6666666667px #0900ff, -93px 82.3333333333px #0088ff, -209px -22.6666666667px #37ff00, -245px -182.6666666667px #ff0044, -9px -347.6666666667px #5eff00, 93px -414.6666666667px #f200ff, -45px -404.6666666667px #ff0095, 197px -151.6666666667px #7b00ff, 150px -138.6666666667px #ff0048, -209px -90.6666666667px #ff0055, 59px -85.6666666667px #00e6ff, 190px 55.3333333333px #00e1ff, -224px -23.6666666667px #fff200, 32px -39.6666666667px #003cff, 237px -375.6666666667px #2600ff, 64px 40.3333333333px #00ff9d, 11px 78.3333333333px #0900ff, -105px -259.6666666667px #3cff00, 239px 41.3333333333px #ff5900, 153px -313.6666666667px blue, 190px -377.6666666667px #0900ff, -9px -307.6666666667px #26ff00, 195px -313.6666666667px #00b3ff, 77px -286.6666666667px #22ff00, 152px -285.6666666667px #ccff00, -11px -119.6666666667px #0066ff, 14px -403.6666666667px #00d0ff, 6px -338.6666666667px #15ff00, -60px -357.6666666667px #ff4400, -227px -157.6666666667px #ff5e00, -216px -236.6666666667px #00ff6f, -203px -204.6666666667px #ff5900, 74px -145.6666666667px #ff0044, 207px -130.6666666667px #00ffee;
  }
}
@keyframes bang {
  to {
    box-shadow: -126px -55.6666666667px #00fbff, -142px -165.6666666667px #2200ff, -139px -164.6666666667px #ff0033, -106px -175.6666666667px #0055ff, 244px 63.3333333333px #00ff95, 242px 52.3333333333px #00ff26, 202px -42.6666666667px #f2ff00, 39px -188.6666666667px #ff00c4, 118px -340.6666666667px #33ff00, -69px -415.6666666667px #0040ff, 177px -42.6666666667px #7bff00, 27px -93.6666666667px #5900ff, -151px -133.6666666667px #00ff3c, 114px -328.6666666667px #e6ff00, -132px -190.6666666667px #ff00bb, 25px 30.3333333333px #00aaff, 16px -21.6666666667px #00ff3c, 236px -259.6666666667px #0900ff, -93px 82.3333333333px #0088ff, -209px -22.6666666667px #37ff00, -245px -182.6666666667px #ff0044, -9px -347.6666666667px #5eff00, 93px -414.6666666667px #f200ff, -45px -404.6666666667px #ff0095, 197px -151.6666666667px #7b00ff, 150px -138.6666666667px #ff0048, -209px -90.6666666667px #ff0055, 59px -85.6666666667px #00e6ff, 190px 55.3333333333px #00e1ff, -224px -23.6666666667px #fff200, 32px -39.6666666667px #003cff, 237px -375.6666666667px #2600ff, 64px 40.3333333333px #00ff9d, 11px 78.3333333333px #0900ff, -105px -259.6666666667px #3cff00, 239px 41.3333333333px #ff5900, 153px -313.6666666667px blue, 190px -377.6666666667px #0900ff, -9px -307.6666666667px #26ff00, 195px -313.6666666667px #00b3ff, 77px -286.6666666667px #22ff00, 152px -285.6666666667px #ccff00, -11px -119.6666666667px #0066ff, 14px -403.6666666667px #00d0ff, 6px -338.6666666667px #15ff00, -60px -357.6666666667px #ff4400, -227px -157.6666666667px #ff5e00, -216px -236.6666666667px #00ff6f, -203px -204.6666666667px #ff5900, 74px -145.6666666667px #ff0044, 207px -130.6666666667px #00ffee;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
